<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Day 1 WorkShop</title>
</head>

<body>
<h1>Movies List</h1>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>release Date</th>
        <th>genres</th>
        <th>runtime</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${movies}">
        <td th:text="${movie.title}"></td>
        <td th:text="${movie.releaseDate}"></td>
        <td th:text="${movie.genres}"></td>
        <td th:text="${movie.runtime}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
